.tableSection {
  margin: auto;
  width: 1000px;
}

.MuiDataGrid-root {
  border-color: #3d0000 !important;
}

.MuiDataGrid-columnHeaders {
  background-color: #950101;
  border-color: #3d0000 !important;
  border-bottom-width: 2px !important;
  font-weight: 600;
}
.MuiDataGrid-columnSeparator--sideRight {
  color: #3d0000 !important;
}

.MuiDataGrid-main {
  background-color: #950101;
}

.MuiDataGrid-footerContainer {
  background-color: #950101;
  border-color: #3d0000 !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
  font-size: 18px;
}

.MuiDataGrid-columnHeaderTitleContainerContent {
  font-weight: 900;
}

.MuiDataGrid-cell {
  white-space: normal !important;
  border-color: #3d0000 !important;
  border-right-width: 2px !important;
}

.titleButton.MuiButton-root {
  text-transform: none !important;
  font-weight: 700 !important;
}
