* {
  box-sizing: content-box;
}

body {
  color: #950101;
  height: 100%;
  text-align: center;
  padding: 0 16px;
}

.container {
  margin: auto;
  padding: 0 0;
  text-align: center;
}

.container h1 {
  font-size: 70px;
  font-weight: normal;
}

