* {
  box-sizing: content-box;
}

body {
  color: #950101;
  height: 100%;
  text-align: center;
  padding: 0 16px;
}

.container {
  margin: auto;
  padding: 0 0;
  text-align: center;
}

.container h1 {
  font-size: 70px;
  font-weight: normal;
}

input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 300px;
  height: 20px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 10px 10px auto;

  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #111111;
  border-radius: 3px;
  width: 120px;
  height: 20px;
  font-size: 18px;
}
